

/* styling of basket */
.cart-container{
    width: 600px;
    margin-left: 30%;
    margin-top: 5%;
}
.order-details {
    width: 600px;
    height: 320px;
    border: 1px solid black;
    
}
/* image of the added item */
.order-img {
    background-image: url("../Images/savage.png");
    width: 200px;
    height: 200px;
    border: 1px solid black;

}
.order-details > input {
    width: 30px;
    height: 20px;
}
/* checkout button styles */
#check-out{
    width: 150px;
    height: 40px;
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 10px grey;
    margin-left: 20%;
    margin-top: 10px;
}
#check-out:hover{
    background-color: black;
    color: white;
}
/* suggested items  styles*/
.suggested-items{
    width: 800px;
    height: 250px;
    border: 1px solid black;
    margin-top: 7%;
    margin-left: 23%;
    margin-bottom: 5%;
    text-align: center;
}
#suggesteds{
    display: flex;

}
#suggesteds > div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
#item1{
    background-image: url(../Images/doir.png);
}
#item2{
    background-image: url(../Images/1million.png);
}
#item3{
    background-image: url(../Images/chanel.png);
}
#item4{
    background-image: url(../Images/creed.png);
}
