/* styling of cms login page */
.cms-login{
    padding-left: 50px;
    padding-top: 10px;
    background-color: teal;
    margin-top: 10%;
    margin-left: 40%;
    width: 291px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(88, 88, 88);
}
.cms-login > h1{
    
    color: white;
}
.cms-login > input{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}
#login-btn{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    background-color: rgb(2, 63, 63);
    color: white;
    border-radius: 10px;
    box-shadow: 0  10px 10px  rgb(0, 152, 163);
    margin-left: 10px;
}
#errorMsg{
    color: rgb(107, 0, 0);
}
.cms-login > #adminlgnbtn{
    width: 80px;
    height: 40px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 67px;
    margin-top: 31px;

}
.cms-login > #login-btn:hover{
    background-color: black;
    color: white;

}
/* styling of main cms page  */
.cms-wrapper{
    display: block ;
    height: 100%;
}
.cms-container{
    display: flex;
    height: 100%;
}
/* styling of side menu */
.side-menu{
    text-align: center;
    width: 200px;
    height: 100%;
    background-color: grey;
}
.side-menu > div{
    padding-top: 10px;
    background-color: rgb(1, 41, 44);
    color: blanchedalmond;
    height: 30px;
}
.side-menu > button:not(:first-child){
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    background-color: grey;
}
.side-menu > button:not(:first-child):hover{
    background-color: rgb(1, 41, 44);

}
.task-container{
    width: 100%;
    height: 100%;
    background-color:rgb(1, 41, 44);
}
/* styling of add product form */
#add-form{
    display: none;
    margin-left: 7%;
    margin-top: 48px;
    width: 212px;
    color: white;
}
#add-form > input{
    border: none;
    background-color: white;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin-top: 10px;

}
#add-form > button{
    width: 70px;
    height: 30px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 67px;
    margin-top: 31px;
}
#added-item-info{
    border: none;
    display: none;
    position: absolute;
    width: 400px;
    height: 448px;
    right: 18%;
    top: 33%;
    background-color: white;
    box-shadow: 0 10px 10px black;
    border: none;
    border-radius: 18px;
}
#green-tick{
    width: 100px;
    height: 100px;
    padding-left: 32%;
}
#added-item-info > h1{
    text-align: center;
    color: green;
    font-size: 15px;

}
#added-item-info > p{
    padding-top: 7px;
    padding-left: 20px;
    height: 39px;
    color: white;
    background-color: rgb(1, 41, 44);
    /* background-color: darkslategrey; */
    padding-left: 20px;
    padding-bottom: -3px;
    padding-top: 10;
}
/* styling of table representing database */
#table {
    text-align: center;
    display: none;
    position: absolute;
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    margin-left: 28%;
    /* margin-top: 10%; */
}
#table th {
    color: black;
    width: 120px;
    border:1px solid #C0C0C0;
    padding:5px;
    background:rgb(255, 229, 174);
}
#table td {
    background-color: white;
    color: rgb(0, 0, 0);
    border:1px solid #C0C0C0;
    padding:5px;
    /* width: 100px;
    height: 300px; */
}
#table caption{
    padding-top: 10px;
    color: white;
    background-color:rgb(173, 173, 173);
}

/* remove product */
#remove-form{
    display: none;
    margin-left: 7%;
    margin-top: 48px;
    width: 212px;
    color: white;

}
#remove-form > input{
    border: none;
    background-color: white;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin-top: 10px;

}
#remove-form > button{
    width: 70px;
    height: 30px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 67px;
    margin-top: 31px;
}

/* update product */
#update-form{
    display: none;
    margin-left: 7%;
    margin-top: 48px;
    width: 222px;
    color: white;

}
#update-form > input{
    border: none;
    background-color: white;
    width: 200px;
    height: 20px;
    padding: 5px;
    margin-top: 10px;

}
#update-product{
    width: 70px;
    height: 30px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 67px;
    margin-top: 31px;
}
#view-product{
    margin-left: 63%;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    background-color: cadetblue;
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}