
/* styling of website header */
#header-wrapper{
    display: flex;
    width: 100%;
    height: 127px;
    background-color: white;

}
/* styling of account and cart hyperlinks */
#header-wrapper  a{
    text-decoration: none;
    color: black;
}
#logo > img{
    width: 261px;
    height: 127px;
    
}
/* search bar styles */
.searchContainer{
    display: flex;
}
#search-icon{
    width: 50px;
    height: 50px;
    margin-top: 5%;
    margin-left: 10px;
}
#search-box{
    width: 600px;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 30%;
    margin-top: 5%;
    background-color: white;
}
/* account hyperlink styling */
#account{
    width: 300px;
    height: 50px;
    margin-top: 3%;
    margin-left: 3%;
}
/* cart styling */
#cart{
    width: 300px;
    height: 50px;
    margin-top: 3%;
}
/* navigation bar styling */
nav{
    padding-top: 13px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
    height: 30px;

}
nav > a{
    text-decoration: none;
    color: black;
    padding: 20px;
    margin-top: 30px;
}
.selected{
    color:red;
    border-radius: 10px;

}
/* main section of home page */
section{
    display: flex;

}
#right-section{
    text-align: center;
    width: 500px;
    height: 500px;
}
#right-section > p{
    font-size: 40px;
    color: black;
    margin-top: 50%;
}
#right-section > button{
    color: black;
    background-color:rgb(170, 170, 170);
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgb(133, 133, 133);
}
#right-section > button:hover{
    background-color: black;
    color: white;
}
main{
height: 800px;
}

/* footer design  */
footer{
    height: 200px;
    background-color: rgb(228, 228, 228);
    width: 100%;
    /* position:absolute; */
   /* bottom:0; */
}
.footer-grid{
    display: grid;
    grid-gap: 1em;
    margin-left: 10%;
    grid-template-columns: repeat(3,1fr);
    
}
.footer-grid > div{
    text-align: center;
    margin-top: 10%;
    width: 300px;
    height: 150px;
    color: black;

    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid black;
}
#about > p{
    color: cadetblue;
    text-align: center;

}
#quick-links > a{
    display: block;
    text-decoration: none;
    color: cadetblue;
    margin-top: 10px;

}
#socials > a{
    display: block;
    text-decoration: none;
    color: cadetblue;
    margin-top: 10px;

}
#logoutadmin {
    border: none;
    /* display: none; */
    width: 100px;
    height: 40px;
    margin-top: 38px;
    margin-right: 34px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px  10px  rgb(0, 0, 0);
}
#logoutadmin:hover{
    background-color: teal;
    color: white;
}

#search-btn{
    width: 56px;
    height: 58px;
    border-radius: 50%;
    border: none;
}
#search-btn:hover{
    background-color: teal;
}


