
/* main section of products page styles */
.products-wrapper{
    margin-bottom: 20%;

}
/* grid of products */
.gridwrapper{
    text-align: center;
    color: rgb(10, 10, 10);
    display: grid;
    
    grid-gap: 1em;
    margin-top: 10%;
    margin-left: 3%;
    grid-template-columns: repeat(4,1fr);
}
.gridwrapper > div{
    padding: 1em;
    width: 250px;
    height: 250px;

}
.gridwrapper > div:hover{
    opacity: 50%;
}
/* add to cart button styling */
.gridwrapper #addbtn{
    width: 250px;
    height: 40px;
    background-color:rgb(1, 105, 97);
    color: white;
    border: none;
}
.gridwrapper #addbtn:hover{
    color: white;
    background-color: black;
}
#item-picture{
    width: 200px;
    height: 200px;
}